@import 'src/styles/index';

.case-studies-unique-style {
  .case-studies-hero {
    position: relative;
    margin-bottom: 200px;

    .background-decoration-img {
      position: absolute;
      top: 10%;
      right: 0;
    }

    &-content {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 20px;
      color: @secondary-color;
      font-size: 72px;
      line-height: 125%;

      @media (min-width: 992px) {
        margin-top: -23%;
        padding: 0 130px;
      }

      &-title {
        position: absolute;
        top: 0;
        width: 200px;
        margin: 70px 0 0 0;
        font-weight: bold;

        @media (min-width: 1280px) {
          margin: 132px 0 0 0;
        }
      }

      &-carousel-wrapper {
        max-width: 623px;

        .case-studies-hero-content-carousel {
          &-slide {
            height: 527px;
            background-color: transparent;

            &-content {
              position: relative;
              display: flex;
              flex-direction: column;
              height: 100%;

              &-image {
                margin-bottom: 64px;
              }

              &-title {
                margin-bottom: 28px;
                color: @text-title;
                font-size: 22px;
              }

              &-text {
                margin-bottom: 48px;
                color: @text-title;
                font-size: 16px;
                line-height: 187%;
              }

              &-tags {
                display: flex;
                flex-wrap: wrap;
                max-width: 516px;

                &-tag {
                  box-sizing: border-box;
                  margin: 0 16px 16px 0;
                  padding: 0 14px;
                  color: @text-title;
                  font-size: 14px;
                  border: 1px solid @text-title;
                  border-radius: 10px;
                }
              }

              &-link {
                position: absolute;
                bottom: 0;
                color: #003d92;
                font-weight: 600;
                border-bottom: 1px solid #003d92;
              }
            }
          }

          &-slide-number {
            max-width: 574px;
            margin-bottom: 37px;
            padding-bottom: 18px;
            color: #5032b1;
            font-weight: 700;
            font-size: 22px;
            border-bottom: 1px solid rgba(9, 20, 50, 0.5);
          }

          &-arrows {
            display: flex;

            &-arrow {
              cursor: pointer;

              &:not(:last-child) {
                margin-right: 33px;
              }
            }
          }
        }
      }
    }

    .ant-carousel {
      margin-bottom: 48px;

      @media (min-width: 992px) {
        margin-bottom: 80px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .case-studies-unique-style {
    .case-studies-hero {
      position: relative;
      margin-bottom: 116px;
      padding: 0;

      .background-decoration-img {
        position: absolute;
        top: 20%;
        right: 0;
      }

      &-content {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        color: @secondary-color;
        font-size: 48px;
        line-height: 60px;

        &-title {
          position: absolute;
          top: 48px;
          width: 100%;
          max-width: 345px;
          margin: 0;
          font-weight: bold;
        }

        &-carousel-wrapper {
          width: 100%;
          max-width: 345px;
          margin: 69px 0 0 0;

          .case-studies-hero-content-carousel {
            &-slide {
              height: 100%;
              background-color: #ffffff;

              &-content {
                position: relative;
                display: flex;
                flex-direction: column;
                height: 100%;

                &-image {
                  margin-bottom: 32px;

                  img {
                    max-width: 315px;
                  }
                }

                &-title {
                  margin-bottom: 24px;
                  color: @text-title;
                  font-size: 18px;
                }

                &-text {
                  margin-bottom: 26px;
                  color: @text-title;
                  font-size: 16px;
                  line-height: 24px;
                }

                &-tags {
                  display: flex;
                  flex-wrap: wrap;
                  max-width: 345px;
                  margin-bottom: 48px;

                  &-tag {
                    box-sizing: border-box;
                    margin: 0 16px 16px 0;
                    padding: 0 14px;
                    color: @text-title;
                    font-size: 14px;
                    border: 1px solid @text-title;
                    border-radius: 10px;
                  }
                }

                &-link {
                  position: absolute;
                  bottom: 0;
                  color: #003d92;
                  font-weight: 600;
                  border-bottom: 1px solid #003d92;
                }
              }
            }

            &-slide-number {
              margin-bottom: 37px;
              padding-bottom: 18px;
              color: #5032b1;
              font-weight: 700;
              font-size: 22px;
              border-bottom: 1px solid rgba(9, 20, 50, 0.5);
            }

            &-arrows {
              display: flex;

              &-arrow {
                cursor: pointer;

                &:not(:last-child) {
                  margin-right: 33px;
                }
              }
            }
          }
        }
      }
    }
  }
}
