@import 'src/styles/index';

.capabilities-wrapper {
  padding-top: 70px;
  padding-bottom: 98px;

  .top-wrapper {
    @media (min-width: 992px) {
      text-align: center;
    }

    &-title {
      margin-bottom: 24px !important;
      color: @text-title;
      font-weight: bold;
      font-size: @font-1xl;
      font-family: @primary-font;
      font-style: normal;
      line-height: 50px;

      @media (min-width: 992px) {
        font-size: 42px;
      }
    }

    &-description {
      margin-bottom: 0 !important;
      color: @text-title;
      font-weight: 600;
      font-size: @font-bigger;
      font-family: @primary-font;
      font-style: normal;
      line-height: 30px;

      @media (min-width: 992px) {
        font-size: @font-lg;
      }
    }
  }

  .menu-wrapper {
    background: transparent;

    @media (max-width: 1279px) {
      width: calc(100vw - 40px);
    }

    &-image {
      margin-bottom: 32px;

      @media (min-width: 992px) {
        margin-bottom: 49px;
      }
    }

    &-link {
      display: block;
      width: 25px;
      height: 25px;

      &:first-of-type {
        margin-right: 14px;
      }
    }
  }

  .ant-menu {

    &-item {
    height: auto !important;
    }
  }
}
