//fonts
@primary-font: 'Open Sans', sans-serif;
@secondary-font: 'Kanit', sans-serif;

//colors
@primary-color: #030A46;
@secondary-color: #FFFFFF;
@tertiary-color: #2EFFEC;

//font-size
@font-extra-small: 14px;
@font-small: 16px;