@import 'src/styles/index';

.ready-for-wrapper {
  padding-top: 50px;

  .top-wrapper {
    margin-bottom: 64px;

    &-title {
      margin-bottom: 24px;
      color: @text-title;
      font-weight: bold;
      font-size: @font-1xl;
      font-family: @primary-font;
    }

    &-under-title {
      margin-bottom: 16px;
      color: @text-title;
      font-weight: 600;
      font-size: @font-bigger;
      font-family: @primary-font;
    }

    &-description {
      color: @text-title;
      font-size: @font-small;
      font-family: @primary-font;
    }
  }
}
