@import 'src/styles/index';

.bottom-navigation-wrapper {
  margin-bottom: 64px;
  @media (min-width: 992px) {
    margin-bottom: 0;
  }

  .list-title {
    margin-bottom: 24px;
    color: @secondary-color;
    font-weight: 600;
    font-size: @font-small;
    font-family: @primary-font;

    @media (min-width: 992px) {
      font-size: @font-lg;
      margin-bottom: 32px;
    }
  }

  .ant-menu-item {
    margin: 0 !important;
  }
}
