@import './src/styles/index';

.home-hero {
  padding-top: 48px;
  padding-bottom: 130px;
  //background: linear-gradient(180deg, #070F4A -27.43%, #15165E 43%, #5B37C0 123.76%);
  background-image: url('../images/home-hero.png');
  background-repeat: no-repeat;
  background-size: cover;

  &-title {
    margin-bottom: 24px;
    color: @secondary-color;
    font-weight: 600;
    font-size: @font-2xl;
    font-family: @secondary-font;
  }

  &-description {
    margin-bottom: 43px !important;
    color: @secondary-color;
    font-size: @font-small;
    font-family: @primary-font;
  }

  &-unlock {
    margin-bottom: 0px !important;
    color: @secondary-color;
    font-weight: 600;
    font-size: @font-very-small;
    font-family: @primary-font;
    border-bottom: 1px solid @secondary-color;
  }
}
