@import './src/styles/index';

.home-hero {
  position: relative;
  padding-top: 48px;
  padding-bottom: 130px;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-title {
    margin-bottom: 24px;
    color: @secondary-color;
    font-weight: 600;
    font-size: @font-2xl;
    font-family: @secondary-font;
  }

  &-description {
    margin-bottom: 43px !important;
    color: @secondary-color;
    font-size: @font-small;
    font-family: @primary-font;
  }
}
