@import 'src/styles/index';

.cost-title,
.heading-text {
  color: @text-title;
  font-weight: 400;
}

.title {
  font-size: 22px;
}

.heading-text {
  font-size: 16px;
  text-align: left;
  text-transform: none;

  @media (min-width: 992px) {
    text-align: center;
  }
}

.heading-title {
  margin-bottom: 24px;
  color: @text-color;
  font-weight: 700;
  font-size: 42px;
  text-transform: none;

  @media (max-width: 767px) {
    text-align: left;
  }
}

.item {
  img {
    margin-bottom: 24px;

    @media (min-width: 992px) {
      margin-bottom: 50px;
    }
  }

  .belief {
    &::before {
      display: none !important;
    }
  }
}
