@import 'src/styles/index';

.option-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1180px;
  margin: 140px auto;
}

.option-title {
  color: @text-title;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.option-text {
  max-width: 700px;
  color: @text-title;
  font-weight: 400;
  font-size: 16px;
}
