@import 'src/styles/index';

h1.ant-typography,
.ant-typography h1,
.page-title{
  color: @text-title;
  font-weight: 700;
  font-size: @font-5xl;
  line-height: 90px;

  @media (max-width: 426px) {
    font-weight: 600;
    font-size: @font-2xl;
    line-height: 60px;
  }
}


.title-section {
  width: 90%;
  max-width: 1180px;
  margin: 120px auto 85px;

  @media (max-width: 426px) {
    margin: 48px 20px 96px;
  }
}

.subtitle {
  margin-bottom: 28px;
  font-size: @font-lg;

  @media (max-width: 426px) {
    margin-bottom: 24px;
    font-size: @font-bigger;
  }
}

.content {
  @media (min-width: 769px) {
    padding-right: 505px;
  }
}
