@import 'src/styles/index';

.our-vision-page-unique-style {
  .vision {
    position: relative;
    margin-bottom: 120px;

    .background {
      width: 100%;
    }

    .content {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 1440px;
      padding: 0 130px;
      transform: translateX(-50%);

      .wrapper {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 100%;
        margin: 260px auto 200px;
        color: white;

        @media (max-width: 426px) {
          margin: 180px auto 100px;
        }

        .label {
          margin-bottom: 28px;
          font-size: @font-lg;
        }

        .text {
          margin-bottom: 120px;

          @media (min-width: 769px) {
            padding-right: 505px;
          }

          @media (max-width: 426px) {
            margin-bottom: 64px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .our-vision-page-unique-style {
    .vision {
      .content {
        padding: 0 20px;

        .wrapper {
          .entry {
            .label {
              font-weight: 700;
              font-size: 22px;

              .text {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
